.password-screen {
  margin-top: 30px;
}

.password-input {
  background: #111111;
  border-radius: 0;
  border: solid 2px #333333;
  outline: none;
  padding: 5px;
  font-size: 30px;
  color: #FFFFFF;
  margin-right: 10px;
}

.password-submit {
  background: #111111;
  border: solid 2px #333333;
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 30px;
  cursor: pointer;
  outline: none;

  &:hover {
    background: #222222;
  }
}

.password-logo {
  height: 20%;
}
